.workbox__container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 100px;
    height: 550px;
    overflow: scroll;
    z-index: 2;

}
.work__item {
    /* position: absolute; */
    transition: 1s ease;
    margin-bottom: 30px;
    cursor: pointer;
}

/* .work__image0:hover {
    filter: brightness(100%);
    transition: filter 1s ease;
}

.work__image1:hover {
    filter: brightness(100%);
    transition: filter 0.6s ease;
}

.work__image2:hover {
    filter: brightness(100%);
    transition: filter 0.6s ease;
} */

.workbox__container img {
    width: 700px;
    /* filter: brightness(50%); */
    /* transition: filter 0.6s ease; */
}

.workbox__container h3 {
    color: white;
    background: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    width: 350px;
}